@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body {
    font-family: Arial, sans-serif;
    margin: 0;
    
  
    color: white; 


    background-image: 
      
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
       
        url('3666540.jpg'); 
    
    background-size: cover; 
    background-position: center top; 
    background-attachment: fixed;
}
header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
    justify-content: center; 
    gap: 30px; 
}

nav a {
    color: white; 
    text-decoration: none;
    font-size: 18px; 
    font-weight: bold; 
    text-transform: uppercase; 
}

nav a:hover {
    color: #04ec04; 
}

table {
    width: 90%; 
    margin: 20px auto; 
    border-collapse: collapse; 
    background-color: rgb(22, 0, 223); 
}

th, td {
    border: 1px solid #6e6868; 
    padding: 12px; 
    text-align: center; 
}

th {
    background-color: #1a1a1a; 
    color: white; 
    text-transform: uppercase; 
}

tr:hover {
    background-color: #5c5858;
}

.imagem {
    text-align: center;
    margin: 20px 0;
}

.imagem img {
    width: 500px;
    border: 5px solid #1a1a1a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.perfil-fisico {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    max-width: 800px;
    margin: 0 auto; 
}

.secao-estatisticas {
    font-family: 'Bebas Neue', sans-serif;
}


.sobreneymar2 table {
    width: 80%; 
    background-color: rgba(9, 26, 184, 0.8);
    box-shadow: 0 4px 8px rgba(9, 26, 184, 0.8);
    border-collapse: collapse;
    color: #000000;
}

.sobreneymar2 th, .sobreneymar2 td {
    border: 1px solid #ffffff; 
    padding: 12px; 
    text-align: left; 
    background-color: rgba(9, 27, 184, 0.425);
    color: #000000;
}

.container-perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px; 
    margin: 40px 0;
}

.lista-tecnica {
    list-style-position: inside; 
    display: inline-block; 
    text-align: left; 
    padding: 0;
}


.wrapper {
  --card-trans-duration: 1000ms;
  --card-trans-easing: linear(0, 0.01 0.8%, 0.038 1.6%, 0.154 3.4%, 0.781 9.7%, 1.01 12.5%, 1.089 13.8%, 1.153 15.2%, 1.195 16.6%, 1.219 18%, 1.224 19.7%, 1.208 21.6%, 1.172 23.6%, 1.057 28.6%, 1.007 31.2%, 0.969 34.1%, 0.951 37.1%, 0.953 40.9%, 0.998 50.4%, 1.011 56%, 0.998 74.7%, 1);
  
  --card-border-radius: 10px;
  --card-width: 150px; 
  --radius: 250px; 
  
  --cards: 6; 
  --arc-size: 0.25;          
  --arc-center: 0.75;        
  --arc-start: calc(var(--arc-center) - var(--arc-size) / 2);
  --arc-shift: 0;
  --arc-shift-delta: 0.01;

  position: relative;
  width: var(--card-width);
  aspect-ratio: 4/6; 
  margin: 80px auto 120px auto; 

  & > div {

    --card-i: 1;
    &:nth-child(1){--card-i:1}
    &:nth-child(2){--card-i:2}
    &:nth-child(3){--card-i:3}
    &:nth-child(4){--card-i:4}
    &:nth-child(5){--card-i:5}
    &:nth-child(6){--card-i:6}

    --arc-step: calc(var(--arc-size) / (var(--cards) - 1));
      
    position: absolute;
    width: var(--card-width);
    aspect-ratio: 4/6;
    background: white;
    border-radius: var(--card-border-radius);

    offset-path: circle(var(--radius) at 50% 100%);
    offset-distance: calc(
      (var(--arc-start)
       + (var(--card-i) - 1) * var(--arc-step)
       + var(--arc-shift)
      ) * 100%
    );

    offset-rotate: auto;
    offset-anchor: 50% 0%;
    transition: all var(--card-trans-duration) var(--card-trans-easing);
    cursor: pointer;

    &:where(:nth-child(1),:nth-child(6)){ z-index: 1; }
    &:where(:nth-child(2),:nth-child(5)){ z-index: 2; }
    &:where(:nth-child(3),:nth-child(4)){ z-index: 3; }
 
    &:hover {
      offset-anchor: 50% 10%; 
      z-index: 10; 
      
      
      & + div { --arc-shift: calc(var(--arc-shift-delta) * 3); }
      & + div + div { --arc-shift: calc(var(--arc-shift-delta) * 2); }
      & + div + div + div { --arc-shift: calc(var(--arc-shift-delta) * 1); }
    }
    
   
    &:has(+*:hover){ --arc-shift: calc(var(--arc-shift-delta) * -3); }
    &:has(+*+*:hover){ --arc-shift: calc(var(--arc-shift-delta) * -2); }
    &:has(+*+*+*:hover){ --arc-shift: calc(var(--arc-shift-delta) * -1); }


    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: inherit;
      border: 3px solid #1a1a1a; 
      box-shadow: 0 6px 12px rgba(0,0,0,0.4);
    } 
  }
}